body {

  background-image: url(/img/bg_desktop.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.container-content{
  position: relative;
  margin: 20px 100px;
}
.container{
  position: absolute;
  top: 50%;
  transform: translate(50%);
  width: 600px;
}